.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.login-logo {
  width: 260px;
  margin-bottom: 25px;
}

.login-box {
  background: #e86d2f;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: left;
  width: 340px;
  color: white;
  font-family: sans-serif;
}

.login-box h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 18px;
  font-weight: bold;
}

.login-box label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 14px;
}

.login-box input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.login-buttons button {
  width: 48%;
  padding: 7px;
  border: none;
  border-radius: 6px;
  background: white;
  color: #e86d2f;
  font-weight: bold;
  cursor: pointer;
}

.login-buttons button:hover {
  filter: brightness(0.9);
}

.error {
  text-align: center;
  margin-top: 10px;
  color: yellow;
  font-size: 14px;
}
