name: CI/CD Pipeline Inventario

# Se ejecuta cuando haces push a la rama 'main'
on:
  push:
    branches: [ "main" ]

jobs:
  # --- TRABAJO 1: PRUEBAS UNITARIAS ---
  test_unitarios:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar Dependencias
        # Instala lo necesario para correr las pruebas
        run: |
          pip install --upgrade pip
          pip install -r backend/requirements.txt

      - name: Ejecutar Pruebas Unitarias
        # Si esto falla, el pipeline se detiene aquí.
        run: |
          cd backend
          python manage.py test

  # --- TRABAJO 2: CONSTRUIR Y SUBIR IMAGEN ---
  build_and_push:
    needs: test_unitarios  # IMPORTANTE: Solo corre si los tests pasaron
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Login en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Calcular Versión
        id: version
        # Genera una versión tipo v1.0.55 usando el número de ejecución de GitHub
        run: echo "tag=v1.0.${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Construir y Subir Imagen Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          # Aquí definimos las etiquetas (tags)
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/mi-proyecto-backend:${{ steps.version.outputs.tag }}
            ${{ secrets.DOCKER_USERNAME }}/mi-proyecto-backend:latest

      - name: Construir y Subir Imagen Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/mi-proyecto-frontend:${{ steps.version.outputs.tag }}
            ${{ secrets.DOCKER_USERNAME }}/mi-proyecto-frontend:latest