name: CI/CD Inventario

# Se activa cuando haces PUSH a la rama 'main'
on:
  push:
    branches: [ "main" ]

jobs:
  # --- JOB 1: PRUEBAS UNITARIAS ---
  test_app:
    runs-on: ubuntu-latest
    # Configuración de servicio de Base de Datos para las pruebas
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: milupita_db
          POSTGRES_USER: mi_usuario_lupita
          POSTGRES_PASSWORD: mi_password_seguro
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Descargar Código
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      - name: Correr Pruebas Unitarias
        env:
          # Conectamos Django a la DB temporal del Pipeline
          POSTGRES_DB: milupita_db
          POSTGRES_USER: mi_usuario_lupita
          POSTGRES_PASSWORD: mi_password_seguro
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
        run: |
          cd backend
          python manage.py test

  # --- JOB 2: CONSTRUCCIÓN Y PUSH (Solo si pasan los tests) ---
  build_and_push:
    needs: test_app  # <--- REQUISITO CLAVE: No corre si fallan los tests
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Código
        uses: actions/checkout@v3

      - name: Login en Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Generar Versión Única
        id: version
        # Genera v1.0.X donde X es el número de ejecución de GitHub
        run: echo "tag=v1.0.${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Construir y Subir Backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/inventario-backend:${{ steps.version.outputs.tag }}
            ${{ secrets.DOCKER_USERNAME }}/inventario-backend:latest

      - name: Construir y Subir Frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/inventario-frontend:${{ steps.version.outputs.tag }}
            ${{ secrets.DOCKER_USERNAME }}/inventario-frontend:latest